@import "../../styles/Constants";
@import "../../styles/Defaults.module";

.select {
  @extend .input;

  position: relative;

  padding: 0;
}

:not(.expanded) > .optionsList {
  display: none;
}

.optionsList {
  @extend .input;

  position: absolute;
  z-index: 99999;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;

  max-height: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.optionBase {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;
  height: 100%;

  &:active,
  &:focus {
    outline: 0;
  }
}

.optionWithArrow {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 50px;
    height: 100%;

    content: "";

    background: url("/assets/images/arrow.png") center no-repeat;
    background-position-x: 22px;
    background-size: 30px;
  }
}

.placeholderOption,
.optionWithArrow,
.option {
  padding-right: 50px;
}

.placeholderOption {
  padding: $default_input_padding;
}

.option,
.placeholderOption {
  color: $default_placeholder_color;
}

.optionSelected {
  color: $default_text_color;
  background: $default_selected_input_background_color !important;
}
