@import "../../styles/Constants";

$baseMargin: 10px;

.logoWrapper {
  position: relative;
}

.logo {
  align-self: flex-start;

  margin-bottom: 24px;
}

.logoLoader {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;

  background: $default_page_background;
}

.main {
  display: flex;
  flex-direction: column;

  max-width: 540px;
}

.form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 41px;
}

.infoBlock {
  line-height: 20px;

  margin-bottom: 5px;
  padding: 20px;
}

.formTwoPanes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formTwoPanesChild {
  flex: 1;

  &:not(:last-child) {
    margin-right: $baseMargin;
  }

  &:not(:first-child) {
    margin-left: $baseMargin;
  }
}

.rowPadding {
  margin-top: $baseMargin * 2;
}

.rowPaddingButton {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: $baseMargin * 3;
}

.rowPaddingPrivacy {
  margin-top: $baseMargin * 3;
}

.textPrivacy {
  line-height: .9rem;
}
