$default_page_background: #ffffff;
$default_text_color: #000000;
$default_input_background_color: #e8e8e8;
$default_selected_input_background_color: #d1d1d1;
$default_text_pale_color: #969696;
$default_placeholder_color: #8b8b8b;
$default_link_color: #3f8bd3;
$default_title_font_size: 1.2rem;
$default_text_font_size: 1rem;
$default_button_text_color: #ffffff;
$default_input_height: 61px;
$default_button_background_color: #c1c1c1;
$default_loading_spinner_color: #dc0d26;
$default_button_height: $default_input_height + 12px;
$default_input_padding: 3px 0 3px 20px;
