@import "./Constants";

.input {
  @extend .textNormal;

  width: 100%;
  height: $default_input_height;
  padding: $default_input_padding;

  cursor: pointer;
  letter-spacing: -.4px;

  border: 0;
  border-radius: 4px;
  background: $default_input_background_color;

  &[type="text"] {
    cursor: text;
  }

  &.button {
    padding: 0;
  }
}

.text {
  color: $default_text_color;
}

.textPale {
  color: $default_text_pale_color;
}

.title {
  @extend .text;

  font-size: $default_title_font_size;
  font-weight: bold;

  letter-spacing: -.7px;
}

.textSpacingBigger {
  line-height: 1.4rem;
}

.textSpacingBig {
  line-height: 1.2rem;
}

.textSmaller {
  font-size: .7rem;
}

.textSmall {
  font-size: .8rem;
}

.textNormal {
  font-size: 1rem;
}

.textBig {
  font-size: 1.2rem;
}

.anchor {
  text-decoration: none;

  color: $default_link_color;
}

.button {
  @extend .input;

  font-size: .85rem;
  font-weight: bold;

  width: 158px;
  height: $default_button_height - 14px;

  color: $default_button_text_color;
  border-radius: 40px;
  background: $default_button_background_color;
}

.debugTopLeft {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
