@import "../../styles/Constants";

.ldsRing {
  $size: 39px;
  $esize: .8 * $size;
  $margin: $esize / 8;
  $thickness: 2px;

  position: relative;

  display: inline-block;

  width: $size;
  height: $size;

  div {
    position: absolute;

    display: block;

    box-sizing: border-box;
    width: $esize;
    height: $esize;
    margin: $margin;

    animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;

    border: $thickness solid $default_loading_spinner_color;
    border-color: $default_loading_spinner_color transparent transparent
    transparent;
    border-radius: 50%;
  }

  div:nth-child(1) {
    animation-delay: -.45s;
  }
  div:nth-child(2) {
    animation-delay: -.3s;
  }
  div:nth-child(3) {
    animation-delay: -.15s;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
