@import "./styles/Constants";

html,
body,
#root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;

  width: 100%;
  height: 100%;

  letter-spacing: -.5px;

  color: $default_text_color;
  background: $default_page_background;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
